/* @font-face {
	font-family: 'Museo Sans Cyrl';
	src: local('MuseoSansCyrl-500'),
		url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
		url('../fonts/MuseoSansCyrl-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'HelveticaNeueCyr300';
	src: local('HelveticaNeueCyr-300'),
		url('../fonts/HelveticaNeueCyr-300.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-300.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr700';
	src: local('HelveticaNeueCyr-700'),
		url('../fonts/HelveticaNeueCyr-700.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}